.root {
  color: var(--color-accent);
  font: inherit;
  text-decoration: none;
  border-radius: var(--radius-4);

  &:hover {
    color: var(--color-accent-dark);
    text-decoration: underline;
  }
}
