@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --*: initial;
}

@theme inline {
  --spacing: var(--space-4);
  --container-form: var(--layout-form-width);
  --container-page: var(--layout-page-width);
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}
